<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/frontend.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/frontend.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/frontend.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
